body{
    background-image: url(marine.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
h1{font-size: 80px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:cursive;

}
h3{text-align: center;
    font-size: 30px;
    color:rgb(18, 77, 105) ;
    font-family:cursive;
}

.pollu_cont{
    background-color: rgb(224, 233, 230);height: 950px;
} 
.pollu_cont img{
    padding-left: 35px;
    float: left;
    margin-right: 10px;
    margin-bottom:10px;
    padding-right: 25px;
    transition: transform .2s;
    display: inline;
}
.pollu_cont h2{
    padding-top: 30px;
    padding-left: 35px;
    color: #2e6a5c;
}
.pollu_cont p{text-align: left;
    font-size: 19px;
    text-justify: auto;
    text-align: justify;
    padding-left: 25px;
    padding-right: 20px;
}

.pollu_cont img:hover {
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
}

.button {
    background-color: #2e6a5c; /* Green */
    border: none;
    color: white;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 5px;
    
}

.button2:hover {
    box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    
    
}
.center a{
    color: #edece7;
}
.center a:hover{
    color:rgb(155, 186, 196);
}


.buttonH {
    background-color: #252a3c; /* Green */
    border: none;
    color: white;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 5px;
    
}

.buttonH:hover {
    box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.footer{
    background-color: #4d9886;
    height: 50px;
    position: static;
    margin-left: -8px;
    margin-right: -8px;
}
.footer p{
    font-size: 20px;
    color: #f2f2f2;
    font-style: italic;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer a{
    color: #f2f2f2;
    font-size: 20px;
    font-style: italic;
}
.footer a:hover{
    color: black;
}

/* CSS for the navigation bar */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right; /* Float the navigation to the right */
    font-size: 26px; /* Change the font size */
}
li {
    display: inline-block;
    margin-left: 30px; /* Adjust spacing between navigation links */
    
}
li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover {
    background: grey;
    text-transform: uppercase;
}
nav {
    background: black;
    overflow: hidden;
    position: fixed; /* Make the navigation bar fixed */
    width: 100%; /* Set width to 100% */
    top: 0; /* Position at the top */
    z-index: 1000; /* Ensure it's above other content */
    
}
.logo img {
    margin-top: 0px;
    margin-left: -6px;
    height: 50px; /* Adjust logo height */
    width: 150px;
    float: left; /* Float the logo to the left */
}